<p class="todo-text">{{text}}</p>

<input class="edit-input" type="text" />

<div class="buttons-holder">
    <button
            class="edit-btn"
            data-action="edit"
            data-todo-id="{{todoId}}">Edit
    </button>

    <button
            class="remove-btn"
            data-action="remove"
            data-todo-id="{{todoId}}">Remove
    </button>

    <button
            class="end-edit"
            data-action="endEdit"
            data-todo-id="{{todoId}}">Done
    </button>
</div>
