$STATIC_DIR: '' !default;

@mixin addFontFace($faceName, $fileName) {
  $f2: #{$STATIC_DIR} + $fileName + '.ttf';
  @font-face {
    font-family: $faceName;
    src: url($f2) format('truetype');
  }
}

@include addFontFace('Inter', 'fonts/inter/Inter-VariableFont_opsz,wght');
@include addFontFace('Inter-Bold', 'fonts/inter/Inter_18pt-Bold.ttf');
@include addFontFace(
  'Inter-Italic',
  'fonts/inter/Inter-Italic-VariableFont_opsz,wght'
);

$fontRg: 'Inter', system-ui, sans-serif;
$fontBd: 'Inter-Bold', system-ui, sans-serif;
$fontIl: 'Inter-Ital', system-ui, sans-serif;
