@use '01-vendors/normalize.css';
@use '02-variables/mixins.scss';
@use '02-variables/fonts' with (
  $STATIC_DIR: $STATIC_DIR // or whatever relative path you need
);

body {
  height: 100vh;
  padding: 0 1rem;
  background: #cbd2d9;
  color: #333;
}

main#app {
  position: relative;
  top: 1rem;
  max-width: 960px;
  min-height: 200px;
  margin:  auto;
  box-sizing: border-box;
  background: whitesmoke;
  padding: 1.5rem;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#hello-world {
  font-size: 16px;
  font-family: Monaco, monospace;
  h2,
  p {
    margin: 0;
  }
  h2{
    font-weight: 600;
    font-family: 'Borel', monospace;

  }

}
