@use '01-vendors/normalize.css';
@use '02-variables/mixins.scss';
@use '03-components/nesting.scss';
/* Variables */
:root {
  --header-height: 60px;
  --footer-height: 50px;

  /* Dark color palette */
  --bg-color: #1d1f21;
  --fg-color: #eee;
  --accent-color: deepskyblue;

  /* Header / Footer coloring */
  --header-color: #2c2f33;
  --footer-color: #2c2f33;
  --border-color: #3a3d42;

  /* Max Content Width */
  --max-content-width: 960px;
}

/* Global Resets/Bases */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Monaco, monospace;
  background-color: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  justify-content: start;
}
